@model Cotizador.Models.Clientes

<div>
    <h1 class="text-center text-primary">Eliminar Cliente</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <label style="color:black; font-family:'Segoe UI'; font-style:italic">¿Esta Seguro De Eliminar Este Cliente?</label>
            <label><strong>ID:</strong></label>
            <label id="modelID">@Html.DisplayTextFor(model=>model.id)</label>
            <br />
            <label class="text-dark"><strong>Nombre:</strong></label>
            @Html.DisplayFor(model => model.nombre)
            <br />
            <label class="text-dark"><strong>Apellido:</strong></label>
            @Html.DisplayFor(model=> model.apellido)
        </div>
    </div>

</div>

