
@{
    ViewBag.Title = "Cotizacion";
}

<h2 class="text-center text-primary"><i class="fas fa-edit"></i>Nueva Cotización</h2>

<div class="container">
<form>
    <div class="card">
        <div class="card-header">
            Datos de Cliente
        </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="cliene">Nombre</label>
                            <button type="button" class="btn btn-primary" value="Buscar"><i class="fas fa-search"></i> Buscar</button>
                            <input type="text" class="form-control" placeholder="Nombre Del Cliente" name="cliente" id="Clientes"/>
                        </div>
                        <div class="col-md-3">
                            <label>Apellido</label>
                            <input type="text" class="form-control" placeholder="Apellido Del Cliente" id="Apellidocliente" />
                        </div>
                    </div>
                </div>
           </div>
    </div>
</form>

</div>

