@{
    ViewBag.Title = "Lista de Cotizaciones";
}

<h2 class="text-primary text-center"><I class="fas fa-file-alt"></I>Lista De Cotizaciones</h2>
<div class="container-fluid">
    <button class="btn btn-primary" onclick="CotrollerNuevo()" ><i class="fas fa-plus"></i> Nueva Cotizacion</button>
    
</div>
<!--Cuadro de busqueda por fechas-->
<div class="container-fluid">
    <br />
    <label class="text-primary">Buscar Entre Fechas:</label>
    <div class="row">      
        <div class="col-md-3">
            <label>Desde: </label>
            <input type="date" class="form-control" id="Date1" />
        </div>
        <div class="col-md-3">
            <label>Hasta: </label>
            <input type="date" class="form-control" id="Date2" />
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <table class="table table-hover" id="Coti">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Expiración</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>

<!--Pantalla Modal-->
<div class="modal fade" id="CotizacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-light" id="modaltitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModal()" disabled>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <h1 class="text-center">Cargando...</h1>
            </div>
            <div class="modal-footer" id="PieModal">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnsecundary"><i class="fas fa-times"></i> Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnprimary" onclick="CloseModal()"><i class="fas fa-check"></i> Finalizar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Operations/Cotizaciones.js"></script>
<script>
    MostrarTabla('@Url.Action("GetCotizaciones","Cotizador")');

    function CotrollerNuevo() {
        window.location.href = "/Cotizador/Nuevo";
    }
    </script>    
    
}
