@model IEnumerable<Cotizador.Models.Servicios>

   <div class="container">
        <h1 class="text-center text-primary"><i class="fas fa-wrench"></i>Lista De Servicios</h1>
    </div>
    <div class="container-fluid">
        <a class="btn btn-primary" data-toggle="modal" data-target="#ModalServicios" data-placement="top" onclick="NuevoServicio('@Url.Action("Nuevo","Servicios")')"><i class="fas fa-plus"></i> Agregar Servicio</a>
    </div>
<br />
    <div class="container-fluid">
        <table class="table table-hover" id="Table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcición
                    </th>
                    <th>
                        Costo
                    </th>
                    <th><strong>Acciones</strong></th>
                </tr>
            </thead>

        </table>

    </div>

<!-- Modal -->
<div class="modal fade" id="ModalServicios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white text-center" id="modaltitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
                <h1 class="text-center">Cargando...</h1>
            </div>
            <div class="modal-footer" id="PieModal">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModal()" id="btnsecundary">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnprimary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

 @section Scripts{
     <script src="~/Scripts/Operations/CrudServicios.js"></script>
    <script>
        SetTable('@Url.Action("GetServices", "Servicios")');
</script>

}
    
   
