
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar Sesión</title>
    <!--Custom styles-->
    <style>
        body{
            background: url(../../Images/Wallpepers/ElectricService.jpg);
        }
    </style>
    <!--Boostrap Styles-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card mx-auto mt-5" style="width:400px; height:400px;" id="login-card">
            <div class="card-body" id="card-login">
                <h1 class="text-center"><i class="fas fa-user"></i> Iniciar Sesión</h1>
                <form id="Login">
                    <div class="form-group">
                        <label>Usuario: </label>
                        <input type="text" class="form-control" id="Usuario" name="Usuario" placeholder="Ingrese Un Usuario"/>
                        <span class="text-danger" name="Usuario"></span>
                    </div>
                    <div class="form-group">
                        <label>Contraseña: </label>
                        <input type="password" class="form-control" id="Clave" name="Clave" placeholder="Ingrese Su Contraseña" />
                        <span class="text-danger" name="Clave"></span>
                    </div> 
                </form>
                <div class="form-group">
                    <br />
                    <button class="btn btn-primary btn-lg btn-block" id="btnlogin" value="Iniciar Sesión" onclick="UserLogin()">Iniciar Sesión</button>
                    <br />
                    <label class="text-danger" id="icon"><strong id="ErrorText"></strong></label>
                </div>  
            </div>
        </div>
    </div>
    <!--Scripts-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/fontawesome-all.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>
    
    <!--My Scripts-->
    <script src="~/Scripts/Operations/UserSession.js"></script>
    
</body>
</html>
